.solidBlue{
    border: 1px solid rgb(0, 153, 255);
}
.solidBlues{
    border: 1px solid rgb(0, 153, 255);
        height: 60%;
}
.load {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    /* left: 20%; */
    /* top: 40%; */
    height: 100vh;
    /* width: 100%; */
    /* font-size: 100px; */
    color: yellow;
}
.lele{
    font-size: 100px;
    /* color: yellow; */

}
